{% extends 'taxmust/navbar.html' %}

{% block title %}Welcome to Taxmust{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <a class="nav-link text-dark" href="/user/logout">Logout</a>
        <a class="nav-link text-dark" href="/dashboard/">{{ user.name }}'s Dashboard</a>
    {% else %}
        <a class="nav-link text-dark" href="/user/login/">Login</a>
        <a class="nav-link text-dark" href="/user/register/">Registration</a>
    {% endif %}
{% endblock %}

{% block content %} 
    <br><br><br><br><br>
    <div class="container">
    	<div class="row">
    		<div class="col-md-4">
				<ul class="list-group">
					<li class="list-group-item">
						<a href="/add-contact/">Add Order</a>
					</li>
					<li class="list-group-item">
						<a href="/view-orders/">View Past Orders</a>
					</li>
					<li class="list-group-item">
					    Completed Orders
					</li>
				</ul>
    		</div>
    	</div>
    </div>
{% endblock %}