{% extends 'taxmust/navbar.html' %}

{% block title %} Add document {% endblock %}


{% block nav %}
    {% if user.is_authenticated %}
        <a class="nav-link text-dark" href="/user/logout">Logout</a>
        <a class="nav-link text-dark" href="/dashboard/">{{ user.name }}'s Dashboard</a>
    {% else %}
        <a class="nav-link text-dark" href="/user/login">Login</a>
        <a class="nav-link text-dark" href="/user/register/">Registration</a>
    {% endif %}
{% endblock %}

{% block content %}
    <br><br><br><br><br>
    <h2 class="text-center">Add document | <a href="/dashboard/"></a></h2>
    <br><br>
    <div class="container">
    	<div class="row">
            <div class="col-md-4">
                {% if show_checkout %}
                <div class="">
                    <form action="/payment-success-url/{{ order.id }}/" method="POST">
                        {% csrf_token %}
                        <script
                            src="https://checkout.razorpay.com/v1/checkout.js"
                            data-key="{{ api_key }}"
                            data-amount= "{{ amount }}" 
                            data-currency="INR"
                            data-buttontext="Pay now"
                            data-name="{{ service }}"
                            data-description="{{ client_name }} has requested for service {{ service  }} for {{ order.customer.customer_name }}. OrderID: {{ order.id }}"
                            data-prefill.email="{{ email }}"
                            data-prefill.contact="{{ phone_number }}"
                            data-theme.color="#F37254">
                        </script>
                        <input type="hidden" custom="Hidden Element" name="hidden">
                        </form>
                </div>
                {% else %}
                    <p>Please upload all the document given below to get the payment url.</p>
                {% endif %}
                <h5>Required Documents</h5>
                {% for each_doc in required_fields %}
                    <small>{{ each_doc }}</small><br>
                {% endfor %}
            </div>
    		<div class="col-md-4">
                <h5 class="text-center">Add new document</h5>
				<form action = '/update-documents/{{ customer_id }}/{{ service_id }}/' method="post" enctype="multipart/form-data">
				    {% csrf_token %}
					<small id="emailHelp" class="form-text text-muted">{{ form.non_field_errors }}</small>
				    <div class="form-group">
				        {{ form }}
				    </div>
				    <button type="submit" class="btn btn-primary">Submit</button>
				</form>
    		</div>
            <div class="col-md-4">
                <h5>Uploaded Documents</h5>
                {% for doc in uploaded_documents %}
                <div>
                    <p>{{ doc.title }}</p>
                    <a class="btn btn-success btn-sm" href="{{ doc.file.url }}">View Document</a>
                </div>
                <div class="dropdown-divider"></div>
                {% endfor %}
            </div>  
    	</div>
    </div>
{% endblock %}